body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, rgba(162, 73, 187, 0.833) 0%, rgba(252,70,107,1) 100%);

.calculator {
    background: rgb(241, 243, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #f9f9f9;
    text-align: right;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    height: 50px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.button.operator {
    background: blue;
}

.button.operator:hover {
    background: lightblue;
}

.button.clear {
    background: blue;
}

.button.clear:hover {
    background: lightblue;
}